.gradle
/build/

# IntelliJ idea files
*.iml
.idea/**
.idea
.idea/*
.idea/vcs.xml
gradle
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.DS_Store
/*.launch
/*.tmproj
# logs
/target/**
/target-eclipse/**
/plugins/
.settings
.project
/out/**
/out
.idea/
*.txt~
